.scoreForm{
  position: absolute;
  margin-top: 400px;
  margin-left: 620px;
  display: none;
}

.scoreVeld{
	display: none;
}

.naamVeld{
	height: 40px;
	width: 250px;
	background-color: #e9f6ff;
	border: none;
	color: #283742;
	font-size: 16px;
	padding-left: 10px;
  border-radius: 25px;
  outline:none;
}

/* Aanpassen placeholder-kleur. (multi-browser) */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #283742;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #283742;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #283742;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #283742;
}

.stats {
  background-color: #fff;
}

.stats h1 {
  font-size: 2vw;
  margin-top: -20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: helvetica;
  text-transform: uppercase;
}

.range_button {
  margin-top: 1rem;
}

.date_range {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.div_container input {
  color:black;
  text-align: center;
  font-family: helvetica;
  font-size: 1rem;
  border-radius: 25px;
  border: solid 1px black;
  margin: 10px;
}

.graph_container {
  display: flex;
  justify-content: center;
}

.div_container p {
  font-family: helvetica;
  font-size: 1rem;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.timeGraph {
  position: absolute;
  margin-top: -500px;
  margin-left: 50%;
}

/*svg {
  width: 30vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3vw;
}*/



.scoreKnop{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 35px;
  margin-top: 20px;
  margin-left: 50px;
	color: #fff;
  border-radius: 25px;
	background-color: #4dabea;
	border: none;
	font-size: 16px;
  text-align: center;
}

.scoreKnop:hover {
  background-color: #8fc9f5;
  color:black;
}

.bar {
  fill: #ff0000;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.verzonden {
 position: absolute;
 margin-top: 369px;
 margin-left: 580px;
 height: 40px;
 width: 350px;
 text-align: center;
 color: white;
 font-family: Helvetica;
 font-size: 10px;
 display: none;
}

.fadeIn{
	animation-name: fadeIn;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		opacity: 0.0;
	}
	100% {
		opacity: 1;
	}
}
